<div class="h-full">
  <div class="sticky top-0 text-center p-4 bg-white">
    <h1 class="font-mono text-5xl cursor-pointer" routerLink="../">{{ title }}</h1>
    <!-- Description -->
    <p class="text-slate-400">{{ description }}</p>
  </div>
  <!-- Main -->
  <div class="overflow-y-scroll flex flex-wrap gap-3 justify-center p-2">
    <ng-content select="[main]"></ng-content>
  </div>
  <!-- Buttons -->
  <div class="sticky bottom-0 p-4 flex justify-center gap-3 bg-gradient-to-b from-white/0 to-40% to-white/90">
    <ng-content select="[button]"></ng-content>
  </div>
</div>
