<div class="h-full">
  <div class="relative top-0 text-center p-4 bg-white">
    <button type="button" routerLink="../" class="absolute md:inline-flex hidden left-0 top-6 bg-white rounded-md p-2 items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <img src="assets/arrow-right.svg" class="rotate-180 h-10">
    </button>
    <h1 class="font-amatic text-7xl hover:cursor-pointer" routerLink="../">{{ title }}</h1>
    <div *ngIf="!title" class="h-[4.5em] bg-gray-100 animate-pulse mx-16 rounded-xl" routerLink="../"></div>
    <!-- Description -->
    <p class="text-slate-400">{{ description }}</p>
  </div>
  <!-- Main -->
  <div class="overflow-y-scroll flex flex-wrap gap-3 justify-center p-2">
    <ng-content select="[main]"></ng-content>
  </div>
  <!-- Buttons -->
  <div class="sticky bottom-0 p-4 flex justify-center gap-3 bg-gradient-to-b from-white/0 to-40% to-white/90">
    <ng-content select="[button]"></ng-content>
  </div>
</div>
