<div class="mx-auto text-center py-2 sm:py-4 px-3 max-w-xl">
  <div class="flex justify-end sm:mb-4">
    <button type="button" (click)="back()" class=" bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <app-authentication *ngIf="!user" (authenticated)="ngOnInit()"></app-authentication>
  <div *ngIf="user">
    <div class="flex flex-col justify-center items-center">
      <p class="text-xl font-light my-6">Hey {{user.firstName}}!🥳</p>
    </div>
    <div class="flex flex-col gap-3 max-w-md mx-auto justify-center">
      <div *ngIf="balanceList.length == 0" class="w-44 py-6 mx-auto text-gray-400 font-extralight">Put in your first order in a shop and see your balance listed here!</div>
      <div *ngFor="let balance of balanceList" class="rounded-xl shadow-md shadow-secondary hover:shadow-rose-300 duration-150 p-2">
        <div (click)="selectBalance(balance)" class="grid grid-cols-3 h-12 cursor-pointer">
          <div class="font-light text-gray-700 my-auto">{{ balance.name }}</div>
          <div class="font-light my-auto" [class.text-positive]="balance.balance > 0" [class.text-negative]="balance.balance < 0">{{ balance.balance.toString() | number:'1.2-2' }}€</div>
          <div>
            <a *ngIf="balance.link" [attr.href]="balance.link" class="w-fit h-fit rounded-xl"><button class="bg-[#003087] hover:bg-opacity-90 text-white ring-1 ring-gray-300 opacity-100">PayPal</button></a>
          </div>
        </div>
        <div *ngIf="balance === selectedBalance">
          <hr class="m-2">
          <div class="grid gap-2">
            <div *ngFor="let entry of balance.history; let i = index" class="grid grid-cols-3 font-light text-gray-400 text-sm">
              <div>{{ entry.date | date:'dd/MM HH:mm' }}</div>
              <div>{{ entry.amount | number: '.2' }}€</div>
              <div class="flex flex-col gap-2">
                <div *ngFor="let item of entry.items">
                  {{item.count}}x {{item.name}} ({{item.price | number: '.2'}}€)
                </div>
                <p *ngFor="let item of entry.description" class="font-extralight"><i>{{item}}</i></p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center py-3" *ngIf="balance === selectedBalance">
          <button *ngIf="balance.hide" (click)="toggleHide(balance.shop_id)" class="px-2 py-1 bg-white hover:bg-opacity-90 text-gray-300 ring-1 ring-gray-300 opacity-100">Show me</button>
          <button *ngIf="!balance.hide" (click)="toggleHide(balance.shop_id)" class="px-2 py-1 bg-white hover:bg-opacity-90 text-gray-300 ring-1 ring-gray-300 opacity-100">Hide me</button>
        </div>
      </div>
    </div>

    <div class="grid justify-center gap-2 mt-5">
      <div class="flex flex-row gap-2">
        <button class="bg-white hover:bg-neutral-100 text-gray-400 ring-1 ring-gray-300" (click)="logout()">Logout</button>
      </div>
  </div>
</div>
