<div class="mx-auto text-center py-2 sm:py-4 px-3 max-w-xl">
  <div class="flex justify-end sm:mb-4">
    <button type="button" routerLink="../" class=" bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
<div class="mx-auto text-center py-2 sm:py-4 px-3 max-w-5xl">
  <h1 class="text-[2.7em] font-mono sm:mb-2">{{shop.name}}</h1>
  <!-- <div class="mt-8 w-[20em] gap-2 grid grid-cols-2 mx-auto">
    <input type="text" placeholder="Name..." [formControl]="name" class="col-span-2">
  </div> -->
  <div class="grid md:grid-cols-2 gap-8">
    <div class="flex flex-wrap gap-3 justify-center mt-12 py-4 max-h-[15em] md:max-h-[27em] overflow-y-scroll">
      <div *ngIf="shop.items.length == 0" class="w-44 mx-auto text-gray-400 font-extralight">Drinks will be listed here. Just create a new one down bellow!</div>
      <div *ngFor="let item of shop.items" (click)="selectItem(item)" [class.bg-positive]="item.active" [class.ring-primary]="selectedItem == item" class="group ring-2 ring-gray-300 hover:ring-primary active:scale-105 duration-150 w-32 h-32 rounded-3xl select-none cursor-default touch-manipulation bg-opacity-10">
        <div class="flex flex-col justify-center items-center h-full">
          <p class="text-xl text-gray-700 font-light">{{ item.name }}</p>
          <p class="text-gray-400">{{ item.price | number:'1.2' }}€</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8 mt-12 max-w-[20em] mx-auto h-[15em]">
      <div class="grid grid-cols-2 gap-2">
        <!-- {{ selectedBeverage | json }} -->
        <input type="text" placeholder="Getränkename..." [formControl]="item.name" class="col-span-2">
        <div class="col-span-1 relative w-full">
          <input type="number" step="0.01" [formControl]="item.price" class="w-full text-left [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
          <p class="absolute top-1/2 right-2 -translate-x-1/2 -translate-y-1/2 text-neutral-400">€</p>
        </div>
        <button *ngIf="selectedItem" class="col-span-1 py-2 rounded-md" (click)="updateItem()">Update</button>
        <button *ngIf="selectedItem" class="col-span-1 py-2 rounded-md bg-amber-400" (click)="toggleItem()">Toggle</button>
        <button *ngIf="selectedItem" class="col-span-1 py-2 rounded-md bg-red-500" (click)="deleteItem()">Delete</button>
        <button *ngIf="!selectedItem" class="col-span-1 py-2 rounded-md" (click)="createItem()">Create</button>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <input type="text" id="link" placeholder="PayPal Link..." [formControl]="link" class="text-gray-600 col-span-2">
        <button [class.bg-gray-300]="shop.link == link.value" class="col-span-1 py-2 rounded-md" (click)="editLink()">Update</button>
      </div>
    </div>
  </div>
  <div class="mt-8">
    <canvas class="h-[20em]" id="MyChart" >{{ chart }}</canvas>
  </div>
  <div class="grid md:grid-cols-2 py-8">
    <div class="flex font-light flex-col justify-center items-center gap-2">
      <div class="grid grid-cols-2 gap-2">
        <button *ngIf="!selectedUser || !isManager(selectedUser)" class="col-span-1 py-2 rounded-md bg-amber-400" (click)="promote(selectedUser)">Promote</button>
        <button *ngIf="selectedUser && isManager(selectedUser)" class="col-span-1 py-2 rounded-md bg-white ring-amber-400 ring-1 text-amber-400" (click)="demote(selectedUser)">Demote</button>
        <button class="col-span-1 py-2 rounded-md bg-red-500" (click)="deleteUser(selectedUser)">Delete</button>
      </div>
      <div *ngFor="let u of shop.users" (click)="selectUser(u)" [class.ring-primary]="selectedUser == u" [class.text-primary]="selectedUser == u" class="w-[20em] grid grid-cols-5 justify-evenly items-center cursor-pointer px-2 py-1 ring-1 ring-gray-300 hover:ring-primary active:scale-105 duration-150 rounded-md text-gray-400">
        <p class="col-span-3">{{u.firstName}} {{u.lastName}}</p>
        <p class="col-span-1 text-negative" [class.text-positive]="u.balance! >= 0">{{u.balance | number:'1.2-2'}}€</p>
        <img [class.invisible]="!isManager(u)" src="./assets/star-active.png" class="w-6 col-span-1 mx-auto" alt="">
      </div>
    </div>
    <div *ngIf="selectedUser" class="flex flex-col justify-center items-center my-8">
      <p class="text-xl text-gray-600 mb-2 font-medium">{{selectedUser.firstName}} {{selectedUser.lastName}}</p>
      <div class="flex items-center gap-5 mt-6">
        <p class="font-light text-negative" [class.text-positive]="selectedUser.balance >= 0">{{selectedUser.balance | number:'1.2-2'}}€</p>
        <div class="relative h-fit w-fit">
          <input type="number" step="0.01" [formControl]="moneyAmount" class="p-2 pr-7 w-20 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
          <p class="absolute top-1/2 right-2 -translate-x-1/2 -translate-y-1/2 text-neutral-400">€</p>
        </div>
        <img src="assets/arrow-right.svg" (click)="pay()" class="h-10 rounded-md hover:bg-primary hover:bg-opacity-25 cursor-pointer">
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <button *ngIf="!confirmDeletaion" (click)="confirmDeletaion = true" class="col-span-3 py-2 rounded-md bg-white ring-1 ring-red-600 text-red-600 hover:bg-red-100">Delete this shop</button>
    <button *ngIf="confirmDeletaion" (click)="deleteShop()" class="col-span-3 py-2 rounded-md bg-red-600">Bro, are u sure?</button>
  </div>
  <div class=""></div>
</div>