<div class="mx-auto text-center sm:py-4 max-w-xl">

  <!-- Select beverage -->
  <section *ngIf="current_section == 0">
    <app-layout [title]="kitchen.name" description="Wähle hier dein Getränk aus:">
      <div main *ngIf="user.balance < threshold" class="w-full my-4 mx-6 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-xl">It's time to pay up!</div>
      <div main *ngFor="let beverage of kitchen.beverages" (click)="addBeverage(beverage)" class="group ring-2 ring-gray-300 hover:ring-primary active:scale-105 duration-150 w-[45%] max-w-[10em] aspect-square rounded-3xl select-none cursor-default touch-manipulation" [class.ring-gray-400]="beverage.amount > 0">
        <div class="flex flex-col justify-center items-center h-full">
          <!-- <button type="button" (click)="beverage.amount = -1" class="-mt-8 invisible bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100" [class.group-hover:visible]="beverage.amount > 0">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button> -->
          <p class="text-xl text-gray-700 font-light">{{beverage.name}}</p>
          <p class="text-gray-400">{{beverage.amount}} - {{beverage.price | number:'1.2'}}€</p>
        </div>
      </div>
      <button *ngIf="kitchen.managers.includes(user._id)" button class="bg-white text-blue-600 ring-1 ring-blue-400 hover:ring-blue-500" routerLink="./dashboard">Dashboard</button>
      <button button class="bg-white text-amber-400 ring-1 ring-amber-300 hover:ring-amber-500 bg-opacity-20" [class.bg-amber-200]="loggedIn" routerLink="../profile">Profile</button>
      <button button class="bg-white text-gray-400 ring-1 ring-gray-300 hover:ring-gray-500" (click)="ngOnInit()">Reset</button>
      <button button (click)="selectBeverages()">Weiter</button>
    </app-layout>
  </section>

  <!-- Select user -->
  <section *ngIf="current_section == 1">
    <app-layout [title]="kitchen.name" description="Wähle dich hier aus:">
      <div main *ngFor="let user of users" (click)="selectUser(user)" class="ring-2 ring-gray-300 hover:ring-primary active:scale-105 duration-150 w-[45%] max-w-[10em] aspect-square rounded-3xl select-none cursor-default touch-manipulation" [class.ring-red-400]="user.balance < threshold">
        <div class="flex flex-col justify-center items-center h-full">
          <div class="flex flex-col justify-center items-center h-full">
            <p class="text-xl text-gray-600 font-light">{{user.firstName}}</p>
            <p class="text-xl text-gray-600 font-light">{{user.lastName}}</p>
          </div>
        </div>
      </div>
      <button button class="bg-white text-gray-400 ring-1 ring-gray-300 hover:ring-gray-500" (click)="back()">Zurück</button>
    </app-layout>
  </section>

  <!-- Confirm -->
  <section *ngIf="current_section == 2">
    <app-layout [title]="kitchen.name" description="Bestätige hier deine Auswahl:">
      <div main>
        <p class="text-xl text-gray-600 font-light mb-6">Hey {{selectedUser.firstName}}🥳</p>

        <div class="md:shadow-md md:w-[20em] w-[17em] my-10 py-8 px-4">
          <div class="text-gray-400 font-light my-2">
            <div *ngFor="let beverage of selectedBeverages">
              <p>{{beverage.amount}}x {{beverage.name}} - {{beverage.price | number:'1.2-2'}}€</p>
            </div>
          </div>
          <hr class="my-3">
          <p class="text-gray-500 font-light">Gesamt: {{totalPrice | number:'1.2-2'}}€</p>
        </div>
      </div>
      <button button class="bg-white text-gray-400 ring-1 ring-gray-300 hover:ring-gray-500" (click)="back()">Zurück</button>
      <button button (click)="confirm()">Passt!</button>
    </app-layout>
  </section>
</div>